.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: center; 
  padding: 1rem; /* Base padding for the grid */
  padding-bottom: 30px; 
}

.card {
  width: 25vw;
  margin: 0 auto; /* Centers the card horizontally within its grid track */
  background-color: rgb(224, 224, 224);
  color: "#cececeff";
  border-radius: 8px;
  margin-top: 15px;
  overflow: hidden;
  box-shadow: 10px 5px 40px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  font-family: 'Times New Roman', Times, serif;
  border: 0px solid #555;
}

@media (max-width: 800px) {
  .card{
    width: calc(100% - 10px); 
    margin: 5px ; 
  }
  .grid {
    grid-template-columns: 1fr;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 801px) and (max-width: 1500px) {
  .card{
    width: 45vw;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1500px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card:hover {
  box-shadow: 10px 5px 40px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.center {
  text-align: center;
}

.card-header {
  height: 25vh;
  background-size: cover;
  background-position: center;
  padding: 100px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.card-body {
  padding: 15px;
  background-color: "#cececeff";
  color: rgb(39, 54, 37);
  text-align: left;
}

.body-content {
  padding-bottom: 40px;
  font-size: 17px;
  line-height: 1.8;
  font-family: 'Times New Roman', Times, serif;
}

.button-primary {
  border: none;
  background-color: #555;
  color: "#cececeff";
  font-size: 30px;
  font-family: inherit;
  cursor: pointer;
  transition: transform 0.25s;
}

.card:hover .button-primary {
  transform: translateX(10px);
}

.button-primary i {
  padding-right: 4px;
}

.designer-link {
  color: #341cac;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  display: block;
  margin-top: 1rem;
}