.sgrid {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  align-items: center;
  justify-content: center;
  align-self: center; 
  column-gap: 1vw;
  margin-bottom: 10px;
  padding-bottom: 35px; 
}

.scard {
  width: 40vw;
  margin: 0 auto;
  margin-top: 0px;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 10px 5px 40px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  font-family: 'Times New Roman', Times, serif; 
}

@media (max-width: 2000px) {
  .scard{
    width: 90vw;
    margin-top: 2px; 
    margin-bottom: 3px;
  }
  .sgrid {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1px; 
    margin-bottom: 1px;
  }
}

@media (min-width: 1000px) {
  .scard{
    width: 45vw;
    margin-top: 1px; 
    margin-bottom: 1px;
  }
  .sgrid {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3px; 
    margin-bottom: 2px;
  }
}

.scard:hover {
  box-shadow: 10px 5px 40px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.scenter {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}

.scard-header {
  background-size: cover;
  background-position: center;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.scard-body {
  padding-top: 2vh;
  padding: 15px;
  background-color: rgb(156, 194, 156);
  color: black;
  text-align: left;
  border: 0px solid #555;
}

.sbody-content {
  padding-bottom: 40px;
  font-size: 17px;
  line-height: 1.8;
  font-family: 'Times New Roman', Times, serif;
}

.sbutton-primary {
  border: none;
  background-color: #555;
  color: "#cececeff";
  font-size: 30px;
  font-family: inherit;
  cursor: pointer;
  transition: transform 0.25s;
}

.scard:hover .button-primary {
  transform: translateX(10px);
}

.sbutton-primary i {
  padding-right: 4px;
}

.sdesigner-link {
  color: #341cac;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  display: block;
  margin-top: 1rem;
}