.sgrid {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  align-items: center;
  justify-content: center;
  align-self: center; 
  column-gap: 1vw;
}

/* putting any background stuff here doesn't work, control top gap here though */
.scard {
  width: 40vw;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 10px 5px 40px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  font-family: 'Times New Roman', Times, serif; 
}

.scard:hover {
  box-shadow: 10px 5px 40px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.scenter {
  text-align: center;
}

.scard-header {
  height: 10vh;
  background-size: cover;
  background-position: center;
  padding: 100px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}

/* .card-header--title {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    
  } */

.scard-body {
  padding-top: 10vh;
  padding: 15px;
  background-color: rgb(156, 194, 156);
  color: black;
  text-align: left;
  border: 2.5px solid #555;
}

/*  .date {
    font-size: 11px;
    font-weight: 600;
    color: grey;
  } */

.sbody-content {
  padding-bottom: 40px;
  font-size: 17px;
  line-height: 1.8;
  font-family: 'Times New Roman', Times, serif;
}

.sbutton-primary {
  border: none;
  background-color: #555;
  color: "#cececeff";
  font-size: 30px;
  font-family: inherit;
  cursor: pointer;
  transition: transform 0.25s;
}

.scard:hover .button-primary {
  transform: translateX(10px);
}

.sbutton-primary i {
  padding-right: 4px;
}

.sdesigner-link {
  color: #341cac;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  display: block;
  margin-top: 1rem;
}