.logo-text {
    margin-right: 16px;
    display: none;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: black;
    text-decoration: none;
    font: times;
  }
  
  .logo-icon {
    display: none;
    margin-right: 8px;
  }
  
  @media (min-width: 900px) {
    .logo-text,
    .logo-icon {
      display: flex;
    }
  }
  
  .mobile-logo-text,
  .mobile-logo-icon {
    display: flex;
    margin-right: 8px;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: #005500;
    text-decoration: none;
  }
  
  @media (min-width: 900px) {
    .mobile-logo-text,
    .mobile-logo-icon {
      display: none;
    }
  }
  
  .nav-button {
    margin-right: 30px;
    color: green;
    display: block;
    padding: 15px 30px;
  }
  
  .menu-text {
    text-align: center;
    color: black;
  }
  