.logo-text {
    margin-right: 20px;
    display: none;  
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: green;
    text-decoration: none;
  }
  
  .logo-icon {
    display: none;
    margin-right: 20px;
    color: green;
  }
  
  @media (min-width: 900px) {
    .logo-text,
    .logo-icon {
      display: flex;
    }
  }
  
  .mobile-logo-text,
  .mobile-logo-icon {
    display: flex;
    margin-right: 8px;
    font-family: monospace;
    font-weight: 900;
    letter-spacing: 0.3rem;
    color: #005500;
    text-decoration: none;
  }
  
  @media (min-width: 900px) {
    .mobile-logo-text,
    .mobile-logo-icon {
      display: none;
    }
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-left: auto;
    gap: 90px;
    font-family: 'Times New Roman', Times, serif;
  }
  

  .nav-button {
    margin-right: 40px;
    align-items: center;
    height: 100%; 
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  .menu-text {
    text-align: center;
    color: black;
  }
  