.overall {
    padding: 0vh;
    border: 1px solid black;
    border-radius: 1vh;
    background-color: "#cececeff";
    width: 50vw; 
}

.form-container {
    width: 50vh;
    margin: 0vh auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
    border: none;
    background-color: "#cececeff";
    margin-top: 0vh; 
    margin-bottom: 50px;
    padding-bottom: 50px; 
}

@media (max-width: 600px) {
    .form-container {
        width: 90vw; 
    }
}

input,
textarea,
button {
    width: 100%;
    margin: 1vh 0;
    padding: 1vh;
    min-height: 5vh;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
    border-color: grey;
    border-width: 2px;
    border-radius: 1vh;
    background-color: "#cececeff";
}

textarea {
    height: 25vh;
}

@media (min-width: 800px) {
    textarea {
        height: 30vh;
    }
}

button {
    background: black;
    color: "#cececeff";
    border: none;
    margin-bottom: 50px;
}