/* SlideShow.css */

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;

}
/* border radius is roudned edges  
don't use opacity, just use rbga (only background opacity manipulated)
*/
.contact-button {
    position: absolute;
    bottom: 50px; /* or wherever you want it */
    left: 50%;
    top: 60%; 
    transform: translateX(-50%);
    border: none;
    cursor: pointer;
    color: white;
    width: 10%;
    height: 5%;
    background: #009900;
    background-color: rgba(0, 153, 0, 0.5);
    border: none;
    border-radius: 8px;
    font: times;
  }

h2 {
    color: #0f0713;
    font-size: 30px;
    position: absolute;
    top: 40vh;
    left: 50%;
    z-index: 100;
    width:30%;
    transform: translateX(-50%);
}





.slideshow-buttons {
    position: absolute;
    bottom: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slideshow-buttons button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.slideshow-buttons button:first-child {
    background-color: blue;
    color: white;
}

.slideshow-buttons button:last-child {
    background-color: red;
    color: white;
}